<form [formGroup]="myFormular" (ngSubmit)="submitForm()">
  <mat-form-field>
    <input matInput readonly [matDatepicker]="picker" placeholder="Date of birth" formControlName="dob" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <!-- Submit & Reset -->
  <mat-card>
    <div>
      <div>
        <button mat-flat-button color="warn">Submit</button>
      </div>
    </div>
  </mat-card>
</form>

<button mat-mini-fab color="primary" (click)="onClick()">Click</button>
